body {
    margin: 0;
    padding: 0;
    background: url(../assets/draw.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

.btn-grad {
    margin: 40px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 10%;
    margin-left: 5%;
  }

#register {
    margin-left: 30%;
    margin-top: -3%;

}