body {
    margin: 0;
    padding: 0;
    background: url(../../assets/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#slogo {
    margin-left: 5%;
    margin-top: 7%;
}


.btn-grad2 {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%)
}

.btn-grad {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%)
}

.btn-grad {
    margin: 40px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#logreg {
    display: flex;
    margin-left: 65%;
}

#text {
    text-align: center;
    margin-top: -20%;
    margin-left: 55%;
    color: #fff;
    
}

#logo {
    width: 10%;
    margin-left: 5%;
  }